flask
flask-pymongo
flask-jwt-extended
flask-cors
flask-bcrypt
pymongo
python-dotenv
gunicorn
google-auth
pyotp
google-auth-oauthlib
google-auth-httplib2
feedparser
beautifulsoup4
requests
apscheduler
dnspython
